@use "sass:color";
@use "variables" as v;

#cart {
  padding: 2rem;
  grid-template-columns: 2fr 1fr;
  background-color: v.$secondaryColor;
  gap: 1rem;

  section,
  aside {
    max-height: none;
    padding: 1rem;
    background-color: v.$lightColor;
    height: fit-content;
    color: v.$primaryColor;
  }

  hr {
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
    
    .cart-item-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .cart-item {
      padding: 0.5rem;
      display: flex;      
      height: 200px;
      gap: 1rem;
      border: 1px solid v.$primaryColor;

      img {
        height: 100%;
        width: 25%;
        object-fit: contain;
        object-position: center;
      }

      .cart-item-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .cart-item-title-container {
        display: flex;
        justify-content: space-between;
      }
      .cart-item-title {
        font-weight: bold;
      }
      .cart-item-price {
        align-self: flex-end;
        justify-self: flex-end;
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 1rem
      }

      .cart-item-remove {
        background-image: url(./assets/icons/removeBtn_black.svg);
        background-repeat: no-repeat;
        height: 1rem;
        width: 1rem;
        background-color: white;
        border-radius: 100%;
      }
    }
  }

  aside {
    .space-items {
      display: flex;
      justify-content: space-between;
    }
    p {
      margin: 0;
    }
    .free-shipping {
      text-decoration: line-through;
      color: gray;
      font-size: 0.75rem;
    }
    .link-button {
      margin-top: 0.5rem;
      display: block;
      text-align: center;
      width: 100%;
    }
  }
}
