@font-face {
	font-family: Roboto;
	src: url('./assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: "Roboto Italic";
	src: url('./assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 400;
}

$primaryColor: #2e3a43;
$secondaryColor: #f0eac6;
$accentColor: #f06449;
$darkColor: #2a2a2a;
$lightColor: #fefefe;

:root {
	font-size: 20px;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-weight: 400;
}

html, body {
	margin: 0;
	padding: 0;
}

nav {
	padding: 0 2rem;
  height: 80px;
  background-color: $primaryColor;
  color: $lightColor;
  display: flex;
  justify-content: space-between;

  div {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
		gap: 1rem;
  }
	a {
		color: $lightColor;
		text-decoration: none;
		display: inline-block;
		// transition: font-weight ease 0.3s;
		position: relative;

		&::after {
			content: '';
			height: 2px;
			width: 0%;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: $lightColor;
			transition: width ease 0.3s;
		}
	}

	a.active {
		font-weight: 600;

		&::after {
			width: 100%;
		}
	}

  .logo {
		height: 80%;
   
		img {
			height: 100%;
		}
  }
	.icon {
		height: 40px;
		img {
			height: 100%;
		}
	}
}

.link-button {
	padding: 0.4rem 1.25rem;
	background-color: $accentColor;
	color: $lightColor;
	font-family: inherit;
	text-decoration: inherit;

	&:hover {
		font-weight: 600;
	}
}