@use "sass:color";
@use "variables" as v;

#list-layout {
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto;
}

aside {
  padding: 2rem;
  background-color: v.$secondaryColor;
  display: flex;
  flex-direction: column;

  .category-item {
    display: flex;
    flex-direction: column;

    .category-level-1,
    .category-level-2 {
      margin-left: 1rem;
    }

    .category-title {
      padding: 0.5rem 0;
      // border-top: 1px solid v.$primaryColor;
      border-bottom: 1px solid v.$primaryColor;
      display: flex;
      justify-content: space-between;
    }

    a {
      color: v.$primaryColor;
      text-decoration: none;

      @include v.fontGradeBold;
    }

    .toggleListing {
      height: 25px;
      width: 25px;
      transform: rotate(180deg);
      transition: transform ease 0.3s;
      background-color: transparent;
      background-image: url("./assets/icons/arrow.svg");
    }

    &.collapsed {
      .category-item {
        display: none;
      }

      .toggleListing {
        transform: rotate(0);
      }
    }
  }
}

.listing-content {
  padding: 1rem 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: 1rem;
}



.product-item {
  padding: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.75rem;
  border: 1px solid v.$primaryColor;

  .product-item-image-link {
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .product-item-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin: 0;
      color: v.$primaryColor;
    }

    .flex-bottom {
      display: flex;
      flex-direction: column;

      .price {
        margin-bottom: 0.25rem;
        align-self: flex-end;
      }
    }
  }
}
