@use "sass:color";
@use "variables" as v;

.user-input {
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  gap: 0.25rem;
}

.amount-wrapper {
  $amountElementHeight: 39px;
  height: 100%;
  display: flex;
  position: relative;

  input,
  button {
    background-color: v.$secondaryColor;
    z-index: 10;
  }
  button {
    height: $amountElementHeight;
    width: $amountElementHeight;
  }

  input {
    -moz-appearance: textfield;
    width: 50px;
    height: $amountElementHeight;
    text-align: center;
    border: none;
    border-left: 1px solid v.$primaryColor;
    border-right: 1px solid v.$primaryColor;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .alert-tooltip {
    position: absolute;
    padding: 0.125rem;
    width: 100%;
    bottom: $amountElementHeight + 1;
    left: 50%;
    background-color: v.$accentColor;
    color: v.$lightColor;
    font-size: 0.75rem;
    text-align: center;
    z-index: 5;
    transform: translateX(-50%);
    transition: transform ease 0.5s;

    &.isHidden {
      transform: translateX(-50%) translateY($amountElementHeight);
    }
  }
}
